@using PF_GerenciaEscolar.Data.Enum
@using PF_GerenciaEscolar.ViewModels
@model Avaliacao

<main role="main">
    <div class="album py-5">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Tem certeza de que deseja enviar esta avaliação?</h1>
            </div>
        </section>
        <div class="container" align=center>
            <div class="row">
                <div class="col-md-4 offset-4" id="card">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <p class="card-text">@Model.Titulo - @Model.Valor</p>
                            <p class="card-text">@Model.Disciplina - @Model.Turma</p>
                            <p class="card-text">@Model.Inicio - @Model.Prazo</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <form method="post" asp-action="EnviarAvaliacao" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-success float-right mt-3">Enviar</button>
                <a asp-controller="aluno" asp-action="Avaliacoes" class="btn btn-secondary mt-3">Cancelar</a>
            </form>
        </div>
    </div>

</main>



<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(to right, #ccffff, #1565c0)
    }

    #card{
        padding-top: 5%;
    }
</style>