@using PF_GerenciaEscolar.Data.Enum
@model List<Professor>

<!doctype html>
<html lang="en">
<body>
    <main role="main">
        <div class="album py-5">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Disciplina de @ViewBag.Disciplina</h1>
                    <a asp-controller="administrador" asp-action="Disciplinas" class="btn btn-secondary my-2">Voltar</a>
                </div>
            </section>
            <div class="container">

                <div class="row">
                    @foreach (var professor in Model)
                    {
                        @if (professor.Disciplina == ViewBag.Disciplina)
                        {
                            <div class="col-md-4">
                                <div class="card mb-4 box-shadow">
                                    <div class="card-body">
                                        <p class="card-text">@professor.User.Nome - @professor.User.Email</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a asp-controller="Administrador" asp-action="DetalhesProfessor" asp-route-id="@professor.Id" type="button" class="btn btn-sm btn-outline-secondary">Ver</a>
                                                <a asp-controller="Administrador" asp-action="EditarProfessor" asp-route-id="@professor.Id" type="button" class="btn btn-sm btn-outline-secondary">Editar</a>
                                                <a asp-controller="Administrador" asp-action="RemoverProfessor" asp-route-id="@professor.Id" type="button" class="btn btn-sm btn-outline-secondary">Remover</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        }
                    }
                </div>
            </div>
        </div>

    </main>
</body>
</html>


<style>
    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        background: linear-gradient(to right, #ccffff, #1565c0)
    }
</style>